<div class="social-links">
    {% if site.facebook %}
        <a class="link" data-title="facebook.com/{{ site.facebook }}" href="http://facebook.com/{{ site.facebook }}" target="_blank">
            {% fa_svg fab.fa-facebook %}
        </a>
    {% endif %}

    {% if site.twitter %}
        <a class="link" data-title="twitter.com/{{ site.twitter }}" href="http://twitter.com/{{ site.twitter }}" target="_blank">
            {% fa_svg fab.fa-twitter %}
        </a>
    {% endif %}

    {% if site.instagram %}
        <a class="link" data-title="instagram.com/{{ site.instagram }}" href="http://instagram.com/{{ site.instagram }}" target="_blank">
            {% fa_svg fab.fa-instagram %}
        </a>
    {% endif %}

    {% if site.pinterest %}
        <a class="link" data-title="pinterest.com/{{ site.pinterest }}" href="http://pinterest.com/{{ site.pinterest }}" target="_blank">
            {% fa_svg fab.fa-pinterest %}
        </a>
    {% endif %}

    {% if site.linkedin %}
        <a class="link" data-title="linkedin.com/in/{{ site.linkedin }}" href="http://www.linkedin.com/in/{{ site.linkedin }}" target="_blank">
            {% fa_svg fab.fa-linkedin %}
        </a>
    {% endif %}

    {% if site.youtube %}
        <a class="link" data-title="youtube.com/{{ site.youtube }}" href="http://youtube.com/{{ site.youtube }}" target="_blank">
            {% fa_svg fab.fa-youtube %}
        </a>
    {% endif %}

    {% if site.spotify %}
        <a class="link" data-title="open.spotify.com/user/{{ site.spotify }}" href="https://open.spotify.com/user/{{ site.spotify }}" target="_blank">
            {% fa_svg fab.fa-spotify %}
        </a>
    {% endif %}

    {% if site.lastfm %}
        <a class="link" data-title="last.fm/user/{{ site.lastfm }}" href="https://last.fm/user/{{ site.lastfm }}" target="_blank">
            {% fa_svg fab.fa-lastfm %}
        </a>
    {% endif %}

    {% if site.github %}
        <a class="link" data-title="github.com/{{ site.github }}" href="https://github.com/{{ site.github }}" target="_blank">
            {% fa_svg fab.fa-github %}
        </a>
    {% endif %}

    {% if site.gitlab-instance %}
      {% assign gitlab-instance = site.gitlab-instance %}
    {% else %}
      {% assign gitlab-instance = "gitlab.com" %}
    {% endif %}

    {% if site.gitlab-user %}
        <a class="link" data-title="{{ gitlab-instance }}/{{ site.gitlab-user }}" href="https://{{ gitlab-instance }}/{{ site.gitlab-user }}" target="_blank">
            {% fa_svg fab.fa-gitlab %}
        </a>
    {% endif %}

    {% if site.stackoverflow %}
        <a class="link" data-title="stackoverflow.com/users/{{ site.stackoverflow }}" href="http://stackoverflow.com/users/{{ site.stackoverflow }}" target="_blank">
            {% fa_svg fab.fa-stack-overflow %}
        </a>
    {% endif %}

    {% if site.quora %}
        <a class="link" data-title="quora.com/profile/{{ site.quora }}" href="https://www.quora.com/profile/{{ site.quora }}" target="_blank">
            {% fa_svg fab.fa-quora %}
        </a>
    {% endif %}

    {% if site.reddit %}
        <a class="link" data-title="reddit.com/user/{{ site.reddit }}" href="https://www.reddit.com/user/{{ site.reddit }}" target="_blank">
            {% fa_svg fab.fa-reddit %}
        </a>
    {% endif %}

    {% if site.medium %}
        <a class="link" data-title="medium.com/@{{ site.medium }}" href="https://medium.com/@{{ site.medium }}" target="_blank">
            {% fa_svg fab.fa-medium %}
        </a>
    {% endif %}

    {% if site.vimeo %}
        <a class="link" data-title="vimeo.com/{{ site.vimeo }}" href="https://vimeo.com/{{ site.vimeo }}" target="_blank">
            {% fa_svg fab.fa-vimeo %}
        </a>
    {% endif %}

    {% if site.lanyrd %}
        <a class="link" data-title="lanyrd.com/{{ site.lanyrd }}" href="https://lanyrd.com/{{ site.lanyrd }}" target="_blank">
            {% fa_svg fas.fa-microphone %}
        </a>
    {% endif %}

    {% if site.email %}
        <a class="link" data-title="{{ site.email }}" href="mailto:{{ site.email }}">
            {% fa_svg fas.fa-envelope %}
        </a>
    {% endif %}
</div>
